@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}


body, h1, h2 {
    margin: 0px;
    padding: 0px;
}

.main-box {
    border: 1px solid #b9b9b9;
    box-shadow: 0px 1px 20px 10px #b9b9b9;
    width: 610px;
    margin: 30px auto;
    padding: 30px;
}

.fake-box {
    width: 610px;
    height: 101px;
}

h1 {
    font-size: 40px;
    color: black;
    text-align: right;
    font-weight: bolder;
    position: relative;
    bottom: -8px;
    right: 20px;
    animation: opening 10s ease-in-out;
}

.subname {
    color: white;
    text-align: right;
    font-weight: 300;
    padding-bottom: 10px;
    position: relative;
    top: -10px;
    right: 20px;
    animation: opening 10s ease-in-out;
}
.name-box {
    width: 610px;
    height: 101px;
    background-color: #858585;
    border-radius: 10px;
    opacity: 70%;
    position: fixed;
    top: 50px;
    animation: opening 10s ease-in-out;
}

@keyframes opening {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    50% {
      opacity: 0.6;
    }
  }


h2 {
    font-size: 20px;
    color: black;
    font-weight: 200;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

section {
    margin-bottom: 50px;
}

.intro-box {
    font-size: 12px;
    color: #8b8b8b;
    line-height: 20px;
    text-indent: 5px;
    text-align: justify;
    transition: color 0.5s ease-in-out
}

.intro-box:hover {
    color: black;

}

.text {
    color: #5f5f5f;
    font-size: 12px;
    font-weight: bolder;
    float: left;
}

.text-wecode {
    font-size: 12px;
    font-weight: bolder;
    float: left;
    animation: colorRotate 2s infinite
}

@keyframes colorRotate {
    0% {
        color: #000000;
    }
    25% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff0080;
    }
    100% {
        color: #fbff00;
    }
}

.explain-text {
    color: #858585;
    font-size: 11px;
    text-align: right;
    font-style: italic;
    margin-bottom: 20px;
    margin-right: 10px;
    animation: move 2s infinite;
}

@keyframes move {
    0% {
      transform: translateY(0)
    }
    10% {
      transform: translateY(-5px)
    }
  }

.year {
    font-size: 12px;
    font-weight: bold;
    float: right;
}

.composer {
    color: black;
    font-size: 12px;
    font-style: italic;
    float: right;
    margin-bottom: 15px;
    margin-right: 20px
}

.quote {
    color: black;
    font-size: 10px;
    float: left;
    margin-left: 10px
}

.quote-link {
    color: black;
    font-size: 10px;
    text-decoration: none;
    transition: color 2s ease-in-out, background-color 3s ease-in-out, font-size 0.2s linear
}

.quote-link:hover {
    background-color: #202020;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.composer-link {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #202020;
    color: #202020;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.composer-link:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #202020;;
}

.float-end {
    overflow: hidden;
}

.subtext1 {
    font-size: 11px;
    padding-left: 18px;
    color: #858585;
}

.music-image {
    width: 100px;
    height: 100px;
    border-radius: 2%;
    border: 1px solid #202020;
    transition: transform 1s ease;
}

.music-image:hover {
    transform: translateY(10px);
    /* animation: slide-bottom 2s; */
}

/* @keyframes slide-bottom {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
} */

.music-image-box {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* .flex-box {
    display: flex;
} */

.finale-text {
    color: #858585;
    font-size: 12px;
    font-style: oblique;
    text-align: justify;
    text-indent: 10px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid white;
    transition: all 2s ease-in-out;
}

.finale-text:hover {
    color: black;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
}

.finale-text2 {
    color: #858585;
    font-size: 12px;
    font-style: oblique;
    text-align: justify;
    text-indent: 10px;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    transition: all 2s ease-in-out;
}

.finale-text2:hover {
    background-color: #858585;
    color: white;
    border-radius: 10px;
}

.sns-image {
    height: 20px;
    width: 20px;
    margin-top: 30px;
}

.sns-align {
    text-align: right;
}

footer {
    background-color: #202020;
    color: #919191;
    text-align: center;
    font-size: 11px;
    padding: 50px;
}

.github-link {
    text-decoration: none;
    color: white;
}